<h1> Hotel Map </h1>
<h2> Search for The Best Coffee Shop for YOU!!</h2>
<!--
<a href="/newreview">create a new review</a>
{% for child_node, child_data in data.items() %}
    <h2>{{ child_node }}</h2>
    <ul>
        {% for key, value in child_data.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
{% endfor %} -->
<!--
<ul id="parentList">
	<li>Child 1</li>
	<li>Child 2</li>
	<li>Child 3</li>
</ul>
-->
<!-- Add a button to add a new child node -->

<!--
<button onclick="addChild()">Add Child Node</button>

<script>
// JavaScript function to add a new child node
	function addChild() {
	  const parentList = document.getElementById("parentList");
	  const newChild = document.createElement("li");
	  newChild.textContent = "New Child";
	  parentList.appendChild(newChild);
	}
</script>
-->
