<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
	  <nav>
    <ul>
      <li><a href="/main">Main</a></li>
      <li><a href="/newreview">New Review</a></li>
    </ul>
  </nav>
    <h1> find the perfect coffee shop exactly for you!! </h1>

    {% for review in Reviews %}
    	<h4> Review for: {{Reviews[review]['cafesname']}} </h4>
    	<a href="{{url_for(Reviews[review]['photo'])}}" ></a>
    {% endfor %}


</body>
</html>