/* Reset some default styles */
body, h1, h4, p, form, input, label, a, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Change font to Roboto */
}

/* Additional styles for specific elements */
body {
  background-color: #e5efe0; /* Light green background for the entire page */
  color: #444; /* Dark gray color for text */
}

/* Styling the navigation bar */
nav {
  background-color: #007f4c; /* Green background for the navigation bar */
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: #fff; /* White text color for the navigation links */
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

/* Styling the h1 heading */
h1 {
  font-size: 32px;
  text-align: center;
  margin: 30px 0;
  color: #007f4c; /* Green color for the heading */
}

/* Styling the h4 heading inside the loop */
h4 {
  font-size: 20px;
  margin: 20px 0;
  color: #007f4c; /* Green color for the heading */
}

/* Styling the image links */
a img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}

/* Styling the unordered list (ul) */
ul {
  list-style: none;
}

/* Styling the list items (li) */
li {
  margin-bottom: 20px;
}

/* Add a brown border around the form */
form {
  border: 1px solid #8b5a2b; /* Brown color */
  padding: 20px;
  border-radius: 5px;
}

/* Basic styles for the form fields and labels */
label {
  display: block;
  margin-bottom: 5px;
  color: #007f4c; /* Green color for labels */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px; /* Increase the padding to make edges bigger */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #007f4c; /* Green button background */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00582d; /* Darker green on hover */
}

a {
  color: #007f4c; /* Green color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
